<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="website icon" type="png" href="/static/img/img1.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Inicio</title>
</head>

<body>
    <header>
        <div class="encabezado">
            <img src="/static/img/img2.png" class="logo">
            <h1>Reci-py</h1>
            <h3 class="subti"><i>Tu pagina favorita para recetas.</i></h3>
        </div>
        <nav>
            <a href="{{url_for('inicio')}}"> Inicio </a>
            <a href="#"> Recetas </a>
            <a href="#"> Agregar </a>
            <a href="#"> Contactos </a>
        </nav>
    </header>

    <div id="contenido">
        <div class="parte1">
            <img src="/static/img/inicio1.jpg" class="img-inicio">
            <img src="/static/img/inicio2.jpg" class="img-inicio">
            <img src="/static/img/inicio3.jpg" class="img-inicio">
            <p> Reci-py es un sitio sobre recetas, donde puedes encontrar o </br> subir tus recetas
                favoritas...desde dulces o saldas, para merendar </br> o cenar, agridulce o sin salsa, chatarra o 
                saludable, veganas o </br> solo carne, entre otras. </br> 
            </p>
        </div>
    </br>
    </br>
    </br>
    <footer>
        <hr>
        <p> 
            © Todos los derechos reservados.
        </br>
            Hecho por Thammy F. Vargas A. 
        </br>
            Para Asignacion de Programacion III.
        
        </p>
    </footer>
</body>
</html>